**/*.list
**/*.log
**/*.tree
**/.gitignore
**/*.xml
**/.husky
**/eslint.config.js
**/prettier.config.js
**/.DS_Store
.commitlintrc.cjs
**/package.json
**/.idea
**/.npmrc
**/.prettierignore
**/.releaserc.js
**/.turbo
**/coverage/
**/dist/
**/images/
**/node_modules/
**/pnpm-lock.yaml
**/storybook-static
