@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@import '@kurocado-studio/react-ui-kit/styles.css';

@config "../tailwind.config.ts";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Mona-Sans wide', sans-serif;
  --font-sans: 'Mona-Sans', sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
